# Ignore build output
site/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore uv virtual environment
.venv/

# Ignore build cache (Zensical / MkDocs)
.cache/

# Ignore VSCode settings
.vscode/

# Ignore hidden folder
docs/assets/hidden
